.featured-projects {
  .project {
    display: flex;
    margin-bottom: 100px;
    margin-left: -5%;
    width: 125%;
    @include thirteen {
      width: 115%;
    }
    @include desktop {
      width: 105%;
    }
    @include tablet {
      width: 100%;
      display: block;
      margin-bottom: 70px;
    }
    &.screentime {
      margin-bottom: 70px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    @include tablet {
      .desktop {
        display: none;
      }
      .mobile {
        margin: 0 auto;
        width: 55%;
      }
      &.starmag {
        .regular {
          display: none;
        }
        .desktop {
          display: block;
        }
        .mobile {
          width: 100%;
        }
      }

      // &.psi {
      //   .regular {
      //     margin: 0 auto;
      //     width: 65%;
      //   }
      // }
    }
    .regular {
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    }
    @media screen and (min-width: #{$tablet-width}) {
      &.foot11 {
        .desktop {
          order: 1;
        }
        .mobile {
          margin-left: -116px;
          margin-bottom: -24px;
          width: 56%;
          order: 2;
        }
        .project__caption {
          order: 3;
        }
      }
      &.let {
        .desktop {
          margin-left: -61px;
        }
        .mobile {
          margin-bottom: -24px;
          width: 30%;
        }
      }
      &.psi {
        .desktop {
          margin-left: -61px;
        }
        .mobile {
          margin-bottom: 60px;
          width: 50%;
        }
      }
      &.starmag {
        .mobile,
        .desktop {
          display: none;
        }
      }
    }
    &__pic {
      max-width: 700px;
      overflow: visible;
      margin: 0;
      place-self: end;
      a {
        display: block;
      }
      &.desktop {
        z-index: 20;
      }
      &.mobile {
        z-index: 30;
      }
      img {
        width: 100%;
        max-width: 100%;
        vertical-align: bottom;
      }
      transition: transform 0.6s ease-in-out; /* Added transition property */
      &:hover {
        transform: scale(1.03);
      }
    }
    &__caption {
      width: 175px;
      flex-shrink: 0;
      margin-left: 30px;
      @include tablet {
        width: 100%;
        margin-top: 25px;
        margin-left: 0;
      }
    }
    &__name {
      margin-bottom: 10px;
      a {
        font-weight: 700;
      }
    }
    p {
      font-size: 0.95rem;
      line-height: 1.3;
    }
  }
}
