<section class="section background">
  <div class="section__title">About</div>
  <div class="section__content">
    <p>
      I deliver software solutions using <strong>Python</strong>, <strong>C</strong> and <strong>C++</strong>, with a keen interest in <strong>full stack</strong> development.
    </p>
    <p>
      I use <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong> and <strong>frameworks</strong> to create web sites and applications, and build efficient and maintainable <strong>user interfaces</strong>.
    </p>
  </div>
</section>