<section class="section background">
  <div class="section__title">About</div>
  <div class="section__content">
    <p>
      I deliver software solutions with <strong>C</strong> and <strong>C++</strong>, with a keen interest in
      <strong>systems</strong> and <strong>networking</strong>.
    </p>
    </p>
    <p>
      I create web sites and applications, working both independently and in teams, focusing on building efficient and mainteineable <strong>user interfaces</strong>. 
    </p>
  </div>
</section>