<section class="section background">
  <div class="section__title">About</div>
  <div class="section__content">
    <p>
      Within four years, I crafted and maintained UIs and worked with various full-stack frameworks and backend technologies.
    </p>
    <p>
      My academic background covers data structures, algorithms, porgramming patterns, network programming, and systems administration.
    </p>
    <p>
      I've worked as a freelancer and collaborated on projects with both small teams and large organizations. I am currently part of the team at <a href="https://nielseniq.com/global/en/" target="_blank" class="highlight-link">NielsenIQ</a>.
    </p>
    </div>
</section>