<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    {% for project in site.data.featured %}
    <div class="project {{ project.classname }}">
      {% if project.mockup_mobile %}
      {% include _figure.html project=project picClass="mobile" picName=project.mockup_mobile %}
      {% endif %}
      {% if project.mockup_desktop %}
      {% include _figure.html project=project picClass="desktop" picName=project.mockup_desktop %}
      {% endif %}
      {% if project.mockup_none %}
      {% include _figure.html project=project picClass="regular" picName=project.mockup_none %}
      {% endif %}
      <figcaption class="project__caption">
        <div class="project__name">
          <a  class="underline-link"
              href="{{ project.url }}"
              aria-label="Visit {{ project.name }}"
              target="_blank">{{ project.name }}</a>
        </div>
        <p>{{ project.description }}</p>
        {% if project.github_url %}
        <p class="intro__links">
          <a href="{{ project.github_url }}" target="_blank">
            <img height="30" width="30" src="/img/social/github.svg" alt="Visit {{ project.name }} GitHub page">
          </a>
        </p>
        {% endif %}
      </figcaption>
    </div>
    {% endfor %}
  </div>
</section>