<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project foot11">
      <figure class="project__pic desktop">
        <a href="https://foot11.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/foot11/foot11_d.png" alt="">
        </a>
      </figure>
      <figure class="project__pic mobile">
        <a href="https://foot11.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/foot11/foot11_m.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://foot11.com/" target="_blank">Foot11</a>
        </div>
        <p>Football news website. The content is created and stored via a headless CMS and then retrieved by a front-end
          built on a custom PHP framework.
          <b>My role:</b> code optimization, documentation implementing and mantaining front-end features and
          components. WordPress themes and plug-in creation.
        </p>
      </figcaption>
    </div>

    <div class="project starmag">
      <figure class="project__pic regular">
        <a href="https://www.starmag.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/starmag/starmag.jpg" alt="">
        </a>
      </figure>
      <figure class="project__pic mobile">
        <a href="https://www.starmag.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/starmag/starmag_d.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">Starmag</a>
        </div>
        <p>Entertainment news website. <b>I handled</b> SEO optimization, implementing and mantaining front-end features
          and components, documentation.</p>
      </figcaption>
    </div>

    <div class="project let">
      <figure class="project__pic mobile">
        <a href="https://lisboaemtango.pt/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/let/let_m.png" alt="">
        </a>
      </figure>
      <figure class="project__pic desktop">
        <a href="https://lisboaemtango.pt/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/let/let_d.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://lisboaemtango.pt/" target="_blank">Lisboa em Tango</a>
        </div>
        <p>A one-page website designed for a Tango Dancing School, built with React, Tailwind and Framer.
          <b>My role:</b> Research, branding, prototyping, and development. New challenges included implementing
          animations, multi language functionality and email marketing integration.
        </p>
      </figcaption>
    </div>
    <div class="project metodo">
      <figure class="project__pic regular">
        <a href="https://maegatsbyportfoliomain48188.gatsbyjs.io/en/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/metodo/msa_d.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://maegatsbyportfoliomain48188.gatsbyjs.io/en/" target="_blank">Assisted Healing Method</a>
        </div>
        <p>
          A single-page multilanguaje portfolio designed for a counseling provider, built with Gatsby and GSAP. <b>I
            took charge of</b> branding, prototyping,
          and SEO setup.

        </p>
      </figcaption>
    </div>
  </div>

  </div>
</section>