<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span>Forked, tweaked and re-deployed by</span>
    </div>
    <div class="bottom">
      <span>Facundo Troitero</span> - 
      <span>2023</span>
    </div>
  </div>
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <!-- <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}"> -->
    </a>
    {% endfor %}
  </div>
</footer>
