<meta charset="UTF-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
<title>{{ site.title }}</title>
<link rel="icon" type="image/png" href="{{site.logo}}" hreflang="en-us">
<meta property="og:title" content="{{site.title}}" />
<meta property="og:description" content="{{site.description}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{site.url}}" />
<meta property="og:site_name" content="{{site.name}}" />
<meta property="og:image" content="{{site.cover}}" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="800" />
<meta property="og:image:type" content="image/png" />
<meta property="og:locale" content="en_US">
<meta name="description" content="{{site.description}}">
<meta name="keywords" content="design, development, web, facundo, troitero, javascript">
<meta itemprop="name" content="{{site.title}}">
<meta itemprop="description" content="{{site.description}}">
<meta itemprop="image" content="{{site.cover}}">
<meta name="google-site-verification" content="9YANxI7x8RjUdB3nlhHrl0cZIaHvdDPhYLmaMz5hd-c" />
<link rel="preload" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="stylesheet" href="/css/main.css" hreflang="en-us">
<link href="https://www.googletagmanager.com/gtag/js?id=G-VXLZ1MPW96" rel="preload" as="script">
<!-- In shadows of HTML, darkly woven,
a spell invoking forces, veiled and cloven.
Through unseen code, thy fate uncloaked,
Moloch and Lilith have been invoked.
Their demonic sway, a binding decree,
Hire me now or pay infernal fee.-->