{% assign data = site.data[include.data_string] %}

<section class="section non-featured">
  <div class="section__title">{{ include.title }}</div>
  <div class="section__content">
    {% for project in data %}
    <div class="project">
      <div class="project__name">
        {% if project.url %}
        <a href="{{ project.url }}" target="_blank" class="arrow-link">{{ project.name }}</a>
        {% else %}
        <p>{{ project.name }}</p>
        {% endif %}
      </div>
      <p>{{ project.description }}</p>
      <div class="project__used">
        {% for item in project.used %}
        <span class="project__used__item">{{ item.thing }}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>